.page-work {
    padding-top: 0;
}
.page-work-list {
    display: flex;
    gap: 30px;
}
.work-list-li {
    position: relative;
}
.page-work-header {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--header-color);
}
.over-work-list {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color);
    left: 0;
    top: 100%;
    transform: translate(0, -100%);
}